---
// Redirect: /lodges/ → /lodging/lodges/
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=/lodging/lodges/">
  <link rel="canonical" href="https://tanzaniasafari.info/lodging/lodges/">
  <title>Redirecting to Safari Lodges...</title>
</head>
<body>
  <p>Redirecting to <a href="/lodging/lodges/" style="color:#3D6B2E;font-weight:700">Safari Lodges</a>...</p>
</body>
</html>
