---
/* Redirect /es/lodges/ → /es/hospedaje/lodges/ */
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=/es/hospedaje/lodges/">
  <link rel="canonical" href="https://safaritanzania.info/es/hospedaje/lodges/">
  <title>Redirigiendo a Lodges de Safari</title>
</head>
<body>
  <p>Redirigiendo a <a href="/es/hospedaje/lodges/">Lodges de Safari</a>...</p>
</body>
</html>
