---
/* Redirect /campamentos/ → /hospedaje/campamentos/ */
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=/hospedaje/campamentos/">
  <link rel="canonical" href="https://safaritanzania.info/hospedaje/campamentos/">
  <title>Redirigiendo a Campamentos Safari</title>
</head>
<body>
  <p>Redirigiendo a <a href="/hospedaje/campamentos/">Campamentos Safari</a>...</p>
</body>
</html>
