---
// Redirect: /en/lodges/ → /en/lodging/lodges/
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=/en/lodging/lodges/">
  <link rel="canonical" href="https://safaritanzania.info/en/lodging/lodges/">
  <title>Redirecting to Safari Lodges...</title>
</head>
<body>
  <p>Redirecting to <a href="/en/lodging/lodges/" style="color:#3D6B2E;font-weight:700">Safari Lodges</a>...</p>
</body>
</html>
